.profile {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  max-height: 600px;
  &__container {
    padding: 15px;
    display: flex;
  }
  &__img-container {
    flex: 1;
    overflow: hidden;
    height: 100%;
    img {
      height: 90%;
      max-height: 500px;
      object-fit: cover;
      object-position: top center;
    }
  }
  &__info {
    flex: 1;
    &__container {
      height: 100%;
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &__stars {
      text-align: center;
      color: #212121;
    }
    &__title {
      font-size: 32px;
      text-align: center;
      margin: 20px 0;
    }
    &__category {
      text-align: center;
    }
    &__top-container {
      flex: 1;
    }
    &__bottom-container {
      flex: 1;
    }
    &__occupation {
      font-weight: bold;
      text-align: center;
      h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      span {
        font-size: 18px;
      }
      span:not(:last-child)::after {
        content: ', ';
      }
    }
    &__status {
      text-align: center;
      font-size: 24px;
      margin-top: 20px;
      &-text {
        font-size: 18px;
        text-align: center;
      }
    }
    &__nickname {
      margin-top: 20px;
      text-align: center;
      font-size: 24px;
      &-text {
        font-size: 18px;
        text-align: center;
      }
    }
  }
  hr {
    margin-top: 10px;
  }
}
